<div class="form" ng-controller="LoginController">
    <h1>LOGIN HERE</h1>
    <p>Username:</p>
    <input type="text" ng-model="user.username" placeholder="Name Here">
    <p>Password:</p>
    <div class="password-container">
        <input type="{{showPassword ? 'text' : 'password'}}" ng-model="user.password" placeholder="Password Here">
        <input type="checkbox" ng-model="showPassword" id="show-pass-checkbox">
        <label for="show-pass-checkbox">Show Password</label>
    </div>
    <p>Role:</p>
    <input type="text" ng-model="user.role" placeholder="Select Role" list="roles" class="role-input">
    <datalist id="roles">
        <option value="Owner"></option>
        <option value="Server"></option>
    </datalist>
    <input type="submit" value="LOGIN" ng-click="validate()">
    <p>Don't have an account? <a href="#!/register">Register here</a></p>
</div>
